// COLORS
$color-main-thame-dark: #001C20;
$color-main-thame-dark-2: #001416;
$color-main-thame-yellow: #FFA200;
$color-main-thame-yellow-light: #fad491;

$color-white: #fff;
$color-black: #000;
$color-blue-1: #46D3E7;
$color-blue-2: #3bafbe;
$color-green-1: #5abb22;
$color-gray-1: #6a6d78;
$color-gray-2: #a1a3aa;
$color-gray-3: #F3F3F3;
$color-okey: #07cc69;
$color-error: #ff3333;

// FONT
$font-size-xxs: 1.2rem;
$font-size-xs: 1.5rem;
$font-size-s: 2rem;
$font-size-m: 3rem;
$font-size-l: 4.5rem;
$font-size-xl: 6rem;
$font-size-xxl: 9rem;
$font-size-xxxl: 12rem;

$font-1: "Roboto", sans-serif;
$font-2: 'Kode Mono', monospace;

// HEADER
$header-hight: 6rem;

// CARDS:
$card-height: 94vh;
$card-width: 65%;

// GRID
$grid-width: $card-width;
$gutter-vertical: 2rem;
$gutter-horizontal: 2rem;

// ICONS
$icon-size: 15rem;